<!DOCTYPE html>
<html>
<head>
	<title>Employee List</title>
</head>
<body>
	<h1>Employee List</h1>
	
	<a href="/home">Back</a> | 
	 

	<br>
	<br>

	<table border="1">
		<tr>
			<td>ID</td>
			<td>Name</td>
			<td>Password</td>
			<td>Salary</td>
			<td>Contact</td>
			<td>WorkHour</td>
			<td>Status</td>
		</tr>

		<% for(var i=0; i < employeeList.length; i++){ %>

		<tr>
			<td><%= employeeList[i].id %></td>
			<td><%= employeeList[i].name %></td>
			<td><%= employeeList[i].password %></td>
			<td><%= employeeList[i].salary %></td>
			<td><%= employeeList[i].contact %></td>
			<td><%= employeeList[i].workhour %></td>
			<% if(employeeList[i].status) { %>
				<td>active</td>
			<% } else { %>
				<td>inactive</td>
			<%  }%>



		</tr>

		<% } %>
	</table>
	<a href="/logout">Logout</a> 

</body>
</html>